@font-face {
    font-family: 'hell';
    src: url('font/FreeSans.otf');
}
* {
    margin: 0px;
    padding: 0px;
}
*::-webkit-scrollbar{
    width: 10px;   
}
*::-webkit-scrollbar-button{

}
*::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
:root {
    --cor1: #FFFFFF;
    --cor2: #00A7E1;
    --cor3: #EFA00B;
    --cor4: #353535;
    --cor5: #0F110C;
}
h1, h2, h3, p, a {
    font-family: 'hell';
    text-decoration: none;
    color: white;
}
body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: 
       'header'
       'main'
       'main'
       'main'
       'footer';
}
header {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-template-areas: 
       'p1 nav';
    grid-area: header;
    background: url('imagens/pexels-caio-45917.jpg') no-repeat center fixed;
    background-size: cover;
    height: 330px;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.514);
    padding-right: 7vw;
}
header > picture {
    grid-area: p1;
    position: absolute;
    left: 0px;
    top: 0px;
    transform: translateY(-10%);
    background: url('imagens/image-removebg-preview.png') no-repeat center ;
    background-size: cover;
    height: 150px;
    width: 150px;
}
header > nav {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    justify-content: end;
    grid-area: nav;
}
a > p {
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.685);
}
#a1 {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 20vh;
}
#a1:hover {
    transition-duration: 0.2s;
    background: #35353581;   
    border-bottom: 4px solid var(--cor3); 
}
#a2 {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 20vh;

}
#a2:hover {
    transition-duration: 0.2s;
    background: #35353581;   
    border-bottom: 4px solid var(--cor3); 
}
main {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
       's1'
       'p1'
       's2';
    grid-area: main;
}
#s1 > p {
    text-align: justify;
    margin: 20px 8vw;
    color: black;
}
#s2 > p {
    text-align: justify;
    margin: 25px 8vw;
    color: black;
}
#s1 {
    grid-area: s1;
}
#p1 {
    display: grid;
    justify-content: space-evenly;
    align-items: center;
    background: url('imagens/pexels-zhang-kaiyv-565476.jpg')
    no-repeat center fixed;
    background: cover;
    grid-area: p1;
    height: 60vh;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.329);
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-template-areas: 
       'q1 q2';
}
section > h1 {
    margin: 10px 0px;
}
picture > #q1 {
    grid-area: q1;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.719);
    font-size: 1.2em;
    text-indent: 0px;
    text-align: left;
    margin: 20px 30px;
    width: 40vw;
}
picture > #q2 {
    grid-area: q2;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.719);
}
#s2 {
    grid-area: s2;
}
footer {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 30px;
    grid-area: footer;
    color: rgba(66, 66, 66, 0.623);
    background: rgba(24, 24, 24, 0.39);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.616);
}
@media (max-width: 700px) {
    #s1 > p {
        text-indent: 15px;
    }
    #s2 > p {
        text-indent: 15px;
    }
    header {
        padding-right: 0px;
    }
}
@media (max-width: 600px) {
    #p1 {
        height: 600px;
        grid-template-columns: auto ;
        grid-template-rows: auto auto;
        grid-template-areas: 
           'q1'
           'q2';
    }
    #q2 {
        padding-left: 30px;
        text-align: justify;
    }
}
@media (max-width: 520px) {
    #q2 {
        text-align: justify;
        margin: 40px 0px;
    }
}