@font-face {
    font-family: 'hell';
    src: url('font(1)/FreeSans.otf');
}
@font-face {
    font-family: 'museo';
    src: url('font(3)/Fredoka/Fredoka-VariableFont_wdth\,wght.ttf');
}
* {
    margin: 0px;
    padding: 0px;
}
:root {
    --cor1: #F4F4F4;
    --cor2: #00A7E1;
    --cor3: #EFA00B;
    --cor4: #353535;
    --cor5: #0F110C;
}
h1, h2, h3, p, a {
    font-family: 'hell';
    text-decoration: none;
}
body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
       'header'
       'main'
       'footer';
    margin-top: 15.5vh;
    overflow-x: hidden;
}
header {
    z-index: 10;
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-area: header;
    background: var(--cor1);
    height: 15vh;
    width: 100vw;
    top: 0px;
    position: fixed;
    border-bottom: 3px solid var(--cor2);
    box-shadow: 0px 2px 5px rgba(109, 109, 109, 0.315);
}
header > picture {  
    margin-left: 3vh;
    background: url('imagens(2)/image-removebg\(fav\)-preview.png') no-repeat left;
    background-size: contain;
    width: 47vw;
    height: 13vh;
    align-self: center;
}
header > nav {
    width: 50vw;
    display: grid;
    justify-content: end;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
}
.a1 > a {
    color: var(--cor5);
}
.a1 {
    margin-right: 10vh;
    display: grid;
    justify-content: center;
    align-items: center;
}
.a1:hover a {
    color: #00A7E1;
}
main {
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto ;
    grid-template-areas: 
       's1 s1'
       's2 s3'
       's4 s4';
    grid-area: main;
}
#s1 {
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.644);
    display: grid;
    justify-content: center;
    align-items: center;
    color: var(--cor1);
    height: 50vh;
    font-size: 48px;
    background: linear-gradient(to right, #3e3e3f, #4D4D4F);
    grid-area: s1;
    margin-bottom: 8vh;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.534); 
}
#s2 {
    color: #4D4D4F;
    width: 50vw;
    grid-area: s2;
    display: grid;
    margin: 7.5vh 0px;
}
#s2 > p, h1 {
    padding: 10px 80px;
    font-family: 'museo';
}
#s2 > h1 {
    font-size: 36px;
}
#s2 > p {
    font-size: 1.2em;
}
#s3 {
    grid-area: s3;
    background: url('imagens(2)/pexels-kindel-media-9875420.jpg') no-repeat center;
    background-size: cover;
    width: 40vw;
    margin: 7.5vh;
    box-shadow: inset 0px 0px 5px rgba(26, 26, 26, 0.603);
}
#s4 {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-area: s4;
    margin: 10vh 0px;
}
#s4 > section {
    display: grid;
    justify-content: center;
    text-align: center;
    width: 150px;
    height: 150px;
}
#s4 > section:hover {
    transform: scale(1.3);
    transition-duration: 0.3s;
    text-decoration: underline;
}
#img1 > a {
    justify-self: center;
    background: url('imagens(2)/2947981.png') center;
    background-size: cover;
    width: 100px;
    height: 100px;
}
#img2 > a {
    background: url('imagens(2)/images-removebg-preview.png') center;
    background-size: cover;
    width: 100px;
    height: 100px;
}
#img3 > a {
    background: url('imagens(2)/3722049.png') center;
    background-size: cover;
    width: 100px;
    height: 100px;
}
footer {
    display: grid;
    grid-area: footer;
}
#f1 {
    display: grid;
    align-items: start;
    justify-content: space-evenly;
    width: 100vw;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    color: white;
    background: #2C7B80;
    height: 350px;
}
#f1 > h1 {
    width: 40vw;
    padding: 0px ;
    margin-top: 5vw;
}  
#f1 > p {
    width: 40vw;
    padding: 0px ;
    margin-top: 5vw;
}
#f1 > p > a {
    color: rgb(75, 226, 201);
    font-weight: bold;
    text-decoration: underline;
} 
#f2 {
    background: #4D4D4F;
    display: grid;
    align-items: start;
    justify-content: space-evenly;
    width: 100%;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
       'picture n1'
       'picture n2';
    color: white;
    padding-top: 10vh;
    padding-bottom: 10vh;
    height: 250px;
}
#f2 > nav > a {
    color: rgb(255, 255, 255);
    font-family: Verdana, Tahoma, sans-serif;
} 
#f2 > picture {
    grid-area: picture;
    height: 300px;
    width: 300px;
    background: url('imagens(2)/image-removebg-preview.png') no-repeat top;
    background-size: 400px;
}
#n1 {
    grid-area: n1;
}
#n2 {
    grid-area: n2;
}
@media (max-width: 900px) {
    .a1 {
        margin-right: 5vh;
    }
}