@font-face {
    font-family: 'hell';
    src: url('font(1)/FreeSans.otf');
}
* {
    margin: 0px;
    padding: 0px;
}
:root {
    --cor1: #FFFFFF;
    --cor2: #00A7E1;
    --cor3: #EFA00B;
    --cor4: #353535;
    --cor5: #0F110C;
}
h1, h2, h3, p, a {
    font-family: 'hell';
    text-decoration: none;
}
body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
       'header'
       'pic1'
       'main'
       'footer';
    margin-top: 470px;
}
header {
    z-index: 5;
    top: 0px;
    display: grid;
    grid-area: header;
    position: fixed;
    justify-content: space-between;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-template-areas: 
       'p1 nav';
    height: 15vh;
    width: 100%;
    background: #0f110c7c;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.473);
    border-bottom: 2px solid #EFA00B;
}
header > picture {
    width: 120px;
    height: 95px;
    background: url('imagens(1)/image-removebg-preview.png') no-repeat center;
    background-size: cover;
    grid-area: p1;
}
nav {
    display: grid;
    justify-content: center;
    text-align: center;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-template-areas: 
       'a1 a2';
    grid-area: nav;
    margin-right: 10vw;
} 
#a1 {
    font-size: 1.1em;
    background: #0f110c56;
    display: grid;
    color: white;
    align-items: center;
    height: 14.5vh;
    width: 120px;
    grid-area: a1;
}
#a1:hover {
    transition-duration: 0.2s;
    background: #35353563;
    border-bottom: 3px solid #EFA00B;
}
#a2 {
    background: #0f110c56;
    font-size: 1.1em;
    color: white;
    display: grid;
    align-items: center;
    height: 14.5vh;
    width: 120px;
    grid-area: a2;
}
#a2:hover {
    transition-duration: 0.2s;
    background: #35353563;
    border-bottom: 3px solid #EFA00B;
}
#p1 {
    z-index: -1;
    top: 0px;
    position: absolute;
    width: 100%;
    grid-area: pic1;
    background: url('imagens(1)/pexels-pok-rie-1432680.jpg') no-repeat center;
    background-size: cover;
    height: 70vh;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.726);
}
main {
    justify-content: center;
    display: grid;
    grid-template-columns: 16% 16% 31.5% 31.5%;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
       's1 s1 s2 s3'
       's1 s1 s4 s5';
    height: 80vh;
    gap: 15px;
    margin-top: 0px;
    margin-bottom: 20px;
}
#s1 {
    background: #ffffff;
    display: grid;
    grid-area: s1;
    text-align: center;
    border: 1px solid white;
}
#s1:hover {
    border: 1px solid #EFA00B;
}
#s1 > picture {
    justify-self: center;
    width: 250px;
    height: 300px;
    overflow: hidden;
}
#s1 > picture > .artF {
    background: url('imagens(1)/download.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100%;
}
#s1 > picture:hover .artF {
    filter: blur(0.5px);
    transform: scale(1.1);
    transition-duration: 0.2s;
}
#s1 > p {
    margin: 0px 35px;
    text-align: justify;
}
#s1 > article > a {
    color: black;
}
#s1 > article {
    justify-self: center;
    background: #00A7E1;
    width: 30%;
    height: 80%;
    border-radius: 10px;
    display: grid;
    align-items: center;
}
#s1 > article:hover {
    background: var(--cor3);
}
#s1 > article:active {
    background: rgba(154, 233, 35, 0.829);
}
#s2 {
    background: #ffffff;
    display: grid;
    align-items: center;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
       'pic div'
       'pic div'
       'pic div';
    grid-area: s2;
    border: 1px solid white;
}
#s2:hover {
    border: 1px solid #EFA00B;
}
#s2 > picture {
    justify-self: center;
    overflow: hidden;
    height: 140px;
    width: 140px;
    grid-area: pic;
    margin-left: 10px;
}
#s2 > picture > .artF {
    background: url('imagens(1)/shopping.webp') no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100%;
}
#s2 > picture:hover .artF {
    filter: blur(0.5px);
    transform: scale(0.95);
    transition-duration: 0.2s;
}
.container {
    grid-area: div;
    display: flex;
    flex-flow: column;
}
.container > h2 {
    margin: 20px 20px;
    align-self: center
}
.container > p {
    margin: 0px 20px;
    text-align: justify;
    align-self: center
}
.container > article > a {
    color: black;
}
.container > article {
    justify-self: center;
    background: #00A7E1;
    padding: 8px 5%;
    align-self: center;
    margin: 20px 0px 20px 20px;
    border-radius: 10px;
    display: grid;
    align-items: center;
}
.container > article:hover {
    background: var(--cor3);
}
.container > article:active {
    background: rgba(154, 233, 35, 0.829);
}
#s3 {
    background: #ffffff;
    display: grid;
    align-items: center;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
       'pic div'
       'pic div'
       'pic div';
    grid-area: s3;
    border: 1px solid white;
}
#s3:hover {
    border: 1px solid #EFA00B;
}
#s3 > picture {
    justify-self: center;
    overflow: hidden;
    height: 140px;
    width: 140px;
    grid-area: pic;
    margin-left: 10px;
}
#s3 > picture > .artF {
    background: url('imagens(1)/shopping\ \(1\).webp') no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100%;
}
#s3 > picture:hover .artF {
    filter: blur(0.5px);
    transform: scale(0.95);
    transition-duration: 0.2s;
}
.container {
    grid-area: div;
    display: flex;
    flex-flow: column;
}
.container > h2 {
    margin: 20px 20px;
    align-self: center
}
.container > p {
    margin: 0px 20px;
    text-align: justify;
    align-self: center
}
.container > article > a {
    color: black;
}
.container > article {
    justify-self: center;
    background: #00A7E1;
    padding: 8px 5%;
    align-self: center;
    margin: 20px 0px 20px 20px;
    border-radius: 10px;
    display: grid;
    align-items: center;
}
.container > article:hover {
    background: var(--cor3);
}
.container > article:active {
    background: rgba(154, 233, 35, 0.829);
}
#s4 {
    background: #ffffff;
    display: grid;
    align-items: center;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
       'pic div'
       'pic div'
       'pic div';
    grid-area: s4;
    border: 1px solid white;
}
#s4:hover {
    border: 1px solid #EFA00B;
}
#s4 > picture {
    justify-self: center;
    overflow: hidden;
    height: 150px;
    width: 150px;
    grid-area: pic;
    margin-left: 10px;
}
#s4 > picture > .artF {
    background: url('imagens(1)/download.webp') no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100%;
}
#s4 > picture:hover .artF {
    filter: blur(0.5px);
    transform: scale(0.95);
    transition-duration: 0.2s;
}
.container {
    grid-area: div;
    display: flex;
    flex-flow: column;
}
.container > h2 {
    margin: 20px 20px;
    align-self: center
}
.container > p {
    margin: 0px 20px;
    text-align: justify;
    align-self: center
}
.container > article > a {
    color: black;
}
.container > article {
    justify-self: center;
    background: #00A7E1;
    padding: 8px 5%;
    align-self: center;
    margin: 20px 0px 20px 20px;
    border-radius: 10px;
    display: grid;
    align-items: center;
}
.container > article:hover {
    background: var(--cor3);
}
.container > article:active {
    background: rgba(154, 233, 35, 0.829);
}
#s5 {
    background: #ffffff;
    display: grid;
    align-items: center;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
       'pic div'
       'pic div'
       'pic div';
    grid-area: s5;
    border: 1px solid white;
}
#s5:hover {
    border: 1px solid #EFA00B;
}
#s5 > picture {
    justify-self: center;
    overflow: hidden;
    height: 212px;
    width: 150px;
    grid-area: pic;
    margin-left: 10px;
}
#s5 > picture > .artF {
    background: url('imagens(1)/shopping\ \(2\).webp') no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100%;
}
#s5 > picture:hover .artF {
    filter: blur(0.5px);
    transform: scale(0.95);
    transition-duration: 0.2s;
}
.container {
    grid-area: div;
    display: flex;
    flex-flow: column;
}
.container > h2 {
    margin: 20px 20px;
    align-self: center
}
.container > p {
    margin: 0px 20px;
    text-align: justify;
    align-self: center
}
.container > article > a {
    color: black;
}
.container > article {
    justify-self: center;
    background: #00A7E1;
    padding: 8px 5%;
    align-self: center;
    margin: 20px 0px 20px 20px;
    border-radius: 10px;
    display: grid;
    align-items: center;
}
.container > article:hover {
    background: var(--cor3);
}
.container > article:active {
    background: rgba(154, 233, 35, 0.829);
}
footer {
    display: grid;
    grid-area: footer;
}
@media (max-width: 900px) {
    nav {
        margin-right: 0px;
    }
}